.parallax {
    background-repeat: no-repeat;
    /* background-attachment: fixed; */
    background-position: 50% 0;
    background-size: cover;
}
.blog-bg {
    background: rgba(0, 0, 0, 0) url("https://kwm-user-data.s3.eu-west-2.amazonaws.com/kwm_web/packagesimg.jpg");
}
.page-head {
    padding: 200px 100px 150px;
}
.overlay {
    position: relative;
}
body {
    font-family: Helvetica, Sans-Serif;
    color: #ffffff;
    font-size: 14px;
    line-height: 1.6em;
    -webkit-backface-visibility: hidden;
}
.overlay::before {
    background: #171717;
    content: "";
    height: 100%;
    left: 0;
    opacity: 0.8;
    position: absolute;
    top: 0;
    width: 100%;
}
.section-title.text-center {
    text-align: center!important;
}
.page-head .section-title h3 {
    font-size: 55px;
    margin-bottom: 20px;
    color: #fff;
}
.overlay .section-title h3 {
    color: #fff;
}
.section-title h3 {
    color: #171717;
    font-size: 40px;
    line-height: 40px;
}
.breadcrumb {
    background-color: rgba(0, 0, 0, 0);
    justify-content: center;
}
.breadcrumb li {
    color: white;
    display: inline-block;
    font-size: 18px;
    font-weight: 400;
    text-transform: capitalize;
    margin: 0 5px;
}
.breadcrumb li a {
    color: #fc328a;
}
.pad90 {
    padding: 60px 0;
}
.full-width {
    width: 100%;
}
.single-tab-area .single-tab .nav-tabs .nav-link:hover, .single-tab-area .single-tab .nav-tabs .nav-item.show .nav-link:hover, .single-tab-area .single-tab .nav-tabs .nav-link.active, .single-tab-area .single-tab .nav-tabs .nav-item.show .active.nav-link {
    color: #fff;
    background-color: #fc328a;
    border: 1px solid transparent;
}
.single-tab-area .single-tab .nav-tabs .nav-item .nav-link, .single-tab-area .single-tab .nav-tabs .nav-item.show .nav-link {
    font-size: 15px;
    color: #171717;
    font-weight: bold;
    padding: 16px 35px;
    border: 1px solid #e2e2e2;
    background: #f7f7f7;
    border-radius: inherit;
}
.single-tab-area .subscribe-box {
    padding: 24px 0px;
    background: #f7f7f7;
    margin-top: 20px;
}
.single-tab-area .subscribe-box .subs-title {
    padding: 00px 30px;
    text-align: center;
    margin-bottom: 30px;
}
.single-tab-area .subscribe-box .subs-title h4 {
    color: #171717;
    font-size: 18px;
    margin-bottom: 10px;
}
.subs-title i {
    color: #00cc68;
    font-size: 48px;
}
p {
    margin-top: 0;
    margin-bottom: 10px !important;
}
p {
    font-size: 15px;
    color: #171717;
    line-height: 1.6rem;
    letter-spacing: .5px;
}
.bttn {
    width: 100%;
    display: block;
    text-align: center;
}
.bttn .btn:hover, .bttn .btn.active, .btn-primary:not([disabled]):not(.disabled).active, .btn-primary:not([disabled]):not(.disabled):active, .show > .btn-primary.dropdown-toggle {
    background: #fc328a;
    color: #fff !important;
    box-shadow: inherit;
    border: 1px solid transparent !important;
}
.single-tab-content {
    margin-bottom: 60px;
}
.single-tab-area .single-tab-content .services-content .services-img {
    margin-bottom: 40px;
    overflow: hidden;
}
.single-tab-area .single-tab-content .services-content .services-img img {
    width: 100%;
    transform: scale(1);
    transition: all 1.2s ease;
}
img {
    vertical-align: middle;
    border-style: none;
}
.mb300 {
    color: #fc328a;
    line-height: 49px;
    font-size: 29px;
    font-weight: 500;
    text-transform: uppercase;
    margin-bottom: 10px;
}