/* Header */
.privacy-header {
	height: 70px;
	width: 100%;
}
.privacy-title {
	font-family: "Poppins", sans-serif;
	font-size: 1.5rem;
	font-weight: 300;
	color: #dd9933;
	width: 50%;
	line-height: 2;
	margin: 0 auto;
	text-align: center;
	margin: 1.5rem auto;
}

/* Content Wrapper */
.privacy-content-wrapper {
	min-height: 100%;
	height: 100%;
	width: 100%;
}