.slick-arrow {
    font-size: 67px !important;
    color: #db4c79 !important;
    z-index: 1000;
}
.slick-prev {
    left: 22px;
}
.slick-next {
    right: 68px;
}
.top-sec-card{
    max-width: 540px;
}
.top-sec {
    position: relative;
    top: -64px;
}
.card {
    background-color: rgb(255 255 255);
    border: 1px solid #eee;
    border-radius: 0;
}
.no-gutters {
    height: 224px;
}
.no-gutters img {
    height: 224px;
    width: 250px;
}
.card-body {
    color: #171717;
    outline: 0 none;
    padding: 12px 30px 30px 90px;
}
p {
    margin-top: 0;
    margin-bottom: 10px !important;
}
p {
    font-size: 15px;
    color: #171717;
    line-height: 1.6rem;
    letter-spacing: .5px;
}
.card-text span a {
    color: #fc328a;
}
.card-text a {
    color: #fc328a;
}
.h5, h5 {
    font-size: 1.25rem;
}