
.header-social-item  {
	height: 30px;
	width: 30px;
	background: rgba(0,0,0,0.1);
	border-radius: 100%;
	padding: 5px;
	display: flex;
	align-items: center;
	justify-content: center;
}
.header-social-item i {
	color: #888;
}
.header-logo {
	text-align: center;
	width: 100%;
}
.header-menu-link {
	color: #2b2e26;
	padding: 10px 20px;
	height: 40px;
	text-decoration: none!important;
	border-radius: 3px;
	font-weight: 400;
	transition: all 0.5s ease;
}
.header-menu-link:hover {
	background: #2e2b36;
	color: #fff;
}

.header2-link-active,
.nav-link.header2-link-active {
	background: #2e2b36;
	color: #fff !important;
	font-size: 16px;
}

.navbar-horizontal .navbar-brand img {
	height: 50px !important;
}