.parallax {
    background-repeat: no-repeat;
    /* background-attachment: fixed; */
    background-position: 50% 0;
    background-size: cover;
}
.blog-bg {
    background: rgba(0, 0, 0, 0) url("https://kwm-user-data.s3.eu-west-2.amazonaws.com/kwm_web/blog.jpg");
}
.page-head {
    padding: 200px 100px 150px;
}
.overlay {
    position: relative;
}
body {
    font-family: Helvetica, Sans-Serif;
    color: #ffffff;
    font-size: 14px;
    line-height: 1.6em;
    -webkit-backface-visibility: hidden;
}
.overlay::before {
    background: #171717;
    content: "";
    height: 100%;
    left: 0;
    opacity: 0.8;
    position: absolute;
    top: 0;
    width: 100%;
}
.section-title.text-center {
    text-align: center!important;
}
.page-head .section-title h3 {
    font-size: 55px;
    margin-bottom: 20px;
    color: #fff;
}
.overlay .section-title h3 {
    color: #fff;
}
.section-title h3 {
    color: #171717;
    font-size: 40px;
    line-height: 40px;
}
.breadcrumb {
    background-color: rgba(0, 0, 0, 0);
    justify-content: center;
}
.breadcrumb li {
    color: white;
    display: inline-block;
    font-size: 18px;
    font-weight: 400;
    text-transform: capitalize;
    margin: 0 5px;
}
.breadcrumb li a {
    color: #fc328a;
}
a {
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
    text-decoration: none;
}
.pad90 {
    padding: 60px 0;
}

.mt50 {
    margin-top: 50px;
}
element.style {
    position: absolute;
    left: 0px;
    top: 0px;
}
.blog-area .blog-portfolio .portfolio-masonry-item {
    margin: 0px 15px;
}
.img3 {
    width: 30.33%;
    float: left;
}
.blog-box {
    border: 1px solid #ececec;
    display: inline-block;
    position: relative;
    transition: all 0.5s ease 0s;
}
.mb30 {
    margin-bottom: 30px;
}
.test-img img {
    border-radius: 50%;
    padding: 10px;
    width: 26%;
}
img {
    vertical-align: middle;
    border-style: none;
}
.blog-box .blog-content {
    padding: 5px 20px 10px;
    display: inline-block;
}
.blog-title p {
    font-size: 20px;
    font-weight: 500;
    letter-spacing: 1px;
    color: #fc328a;
    margin-bottom: 0.5rem;
}
p {
    margin-top: 0;
    margin-bottom: 10px !important;
}
p {
    font-size: 15px;
    color: #171717;
    line-height: 1.6rem;
    letter-spacing: .5px;
}
.blog-box .blog-content .news-introtxt {
    margin-top: 15px;
    float: left;
}
.blog-box:hover {
    box-shadow: 2px 4px 43px -8px #171717;
}
