.page-head.overlay:before {
    background: #010528;
    content: "";
    opacity: 0.6;
}
.overlay::before {
    background: #171717;
    content: "";
    height: 100%;
    left: 0;
    opacity: 0.8;
    position: absolute;
    top: 0;
    width: 100%;
}
.parallax {
    background-repeat: no-repeat;
    /* background-attachment: fixed; */
    background-position: 50% 0;
    background-size: cover;
}
.about-bg {
    background: rgba(0, 0, 0, 0) url("https://kwm-user-data.s3.eu-west-2.amazonaws.com/kwm_web/about-us.jpg");
}
.page-head {
    padding: 200px 100px 150px;
}
.overlay {
    position: relative;
}
.section-title.text-header h3 {
    text-align: center;
}
.page-head .section-title h3 {
    font-size: 55px;
    margin-bottom: 20px;
    color: #fff;
}
.overlay .section-title h3 {
    color: #fff;
}
.section-title h3 {
    color: #171717;
    font-size: 40px;
    line-height: 40px;
}
h1, h2, h3, h4, h5, h6 {
    font-family: Helvetica, Sans-Serif;
    font-weight: 700;
    margin: 0;
}
.breadcrumb {
    background-color: rgba(0, 0, 0, 0);
    justify-content: center;
}
.breadcrumb li {
    color: white;
    display: inline-block;
    font-size: 18px;
    font-weight: 400;
    text-transform: capitalize;
    margin: 0 5px;
}
.breadcrumb li a {
    color: #fc328a;
}
a {
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
    text-decoration: none;
}
.about-area.pad90.start-about {
    padding: 60px 0px 0px;
}
.pad90 {
    padding: 60px 0;
}
.mb20 {
    margin-bottom: 20px;
}
.full-width {
    width: 100%;
}
img {
    vertical-align: middle;
    border-style: none;
}
.section-title h3 {
    color: #171717;
    font-size: 40px;
    line-height: 40px;
}
p {
    margin-top: 0;
    margin-bottom: 10px !important;
}
p {
    font-size: 15px;
    color: #171717;
    line-height: 1.6rem;
    letter-spacing: .5px;
}
.about-area .about-opening {
    padding: 0px 0px;
}
.about-opening img {
    width: 100%;
}
.more-about {
    font-size: 18px;
    font-weight: 700;
}
.able {
    color: #333;
}
.section-title.text-center {
    text-align: center!important;
}
.trainers-area .trainer-pro .trainer-img {
    position: relative;
    margin-bottom: 40px;
}
.trainers-area .trainer-pro .trainer-img img {
    width: 100%;
    border-radius: 5%;
}
.about-area.pad90.last-bg {
    background: #f2f2f2;
}
.about-down {
    font-size: 15px;
    color: #171717;
    line-height: 2.2rem;
    letter-spacing: .5px;
}

ul {
    list-style: outside none none;
    margin-bottom: 0;
    padding-left: 0;
}