.testimony .testimony-inner .slick-track {
    height: 330px;
}

.slick-slide {
    height: inherit !important;
}

.slick-slide>div {
    height : 100%;
    padding: 0 10px;
}

.slick-arrow {
    font-size: 20px;
    color: #555;
}

.slick-prev::before{
    display: none;
}

.slick-next::before{
    display: none;
}

.testimonial-item {
    text-align: left !important;
    background: #ececec;
    padding   : 20px 15px;
    height    : 100%;
}

.testimonial-item h6 {
    font-size  : 15px;
    font-weight: bold;
    margin     : 10px 0 5px 0;
    color      : #111;
}

.testimonial-item h4 {
    font-size  : 14px;
    font-weight: 300;
    color      : #999;
    margin     : 0 0 15px 0;
}

.testimonial-item p {
    font-size: 16px;
    margin   : 0 0 15px 0;
    color    : #7a7a7a;
}