.parallax {
    background-repeat: no-repeat;
    /* background-attachment: fixed; */
    background-position: 50% 0;
    background-size: cover;
}
.contact-bg {
    background: rgba(0, 0, 0, 0) url("https://kwm-user-data.s3.eu-west-2.amazonaws.com/kwm_web/contact.jpg");
}
.page-head {
    padding: 200px 100px 150px;
}
.overlay {
    position: relative;
}
.section-title.text-center {
    text-align: center!important;
}
.page-head .section-title h3 {
    font-size: 55px;
    margin-bottom: 20px;
    color: #fff;
}
.overlay .section-title h3 {
    color: #fff;
}
.section-title h3 {
    color: #171717;
    font-size: 40px;
    line-height: 40px;
}
.pad90 {
    padding: 60px 0;
}
.mb20 {
    margin-bottom: 20px;
}
.full-width {
    width: 100%;
}
.section-title h3 {
    color: #171717;
    font-size: 40px;
    line-height: 40px;
}
.section-title p {
    font-size: 18px;
    color: #444;
    margin: 20px 0 50px;
}
.mt20 {
    margin-top: 20px;
}
.form-group {
    margin-bottom: 1.5rem;
}
.form-control {
    padding: 17px 16px;
    font-size: 14px;
    border: 1px solid #ced4da;
    border-radius: 8px;
}

.contact-area h4 {
    font-size: 25px;
    color: #171717;
    margin-bottom: 30px;
}
.contact-area .location .ctc-content {
    width: 100%;
    float: left;
}
.contact-area .location .ctc-content i {
    color: #fc328a;
    font-size: 28px;
    float: left;
    width: 15%;
}
.contact-area .location .ctc-content p {
    float: left;
}
.contact-area .opening-time {
    display: inline-block;
    width: 100%;
}
.pt20 {
    padding-top: 20px;
}
.contact-area h4 {
    font-size: 25px;
    color: #171717;
    margin-bottom: 30px;
}
ul {
    list-style: outside none none;
    margin-bottom: 0;
    padding-left: 0;
}
.contact-area .opening-time ul li p {
    margin-bottom: 8px;
}

.bttn .btn:hover, .bttn .btn.active, .btn-primary:not([disabled]):not(.disabled).active, .btn-primary:not([disabled]):not(.disabled):active, .show > .btn-primary.dropdown-toggle {
    background: #fc328a;
    color: #fff !important;
    box-shadow: inherit;
    border: 1px solid transparent !important;
}
.full-width {
    width: 100%;
}
.bttn {
    width: 100%;
    display: block;
    text-align: center;
}