body {
    font-family: Helvetica, Sans-Serif;
    color: #ffffff;
    font-size: 14px;
    line-height: 1.6em;
    -webkit-backface-visibility: hidden;
}
.pb30 {
    padding-bottom: 30px;
}
.call-to-action1 .cta-img {
    width: 100%;
}
.call-to-action1 .cta-img img {
    width: 100%;
}
img {
    vertical-align: middle;
    border-style: none;
}
.call-to-action1 .cta-box h4.sub-title {
    color: #171717;
    font-size: 32px;
    line-height: 30px;
    letter-spacing: 1px;
}
.ttp, .section-title p, .call-to-action1 .cta-box h4.sub-title, .tab-action .cta-box h5, .schedule-area2 .schedule-tab-content .tab-pane ul li .schedule-desk h3, .blog-box .blog-content .blog-title a, .blog-box .blog-content .blog-footer a, .testimonial-area .testimonial-box .test-content .person h4, .testimonial-area .testimonial-box .test-content .person h5, .about-area .aboutus-box .about-benefit a, .about-area .about-opening .opening-hours ul li, .bmi-box .form-group h4, .single-tab-area .subscribe-box .subscribe input::placeholder, .error-page-area .content-full p, .single-information-area .product-info .pro-rating .review p, .table-content table td.product-name a, .guest-register p, .guest-register ul li a, .form-group h4 {
    text-transform: capitalize;
}
.mb30 {
    margin-bottom: 30px;
}
h1, h2, h3, h4, h5, h6 {
    font-family: Helvetica, Sans-Serif;
    font-weight: 700;
    margin: 0;
}
p {
    margin-top: 0;
    margin-bottom: 10px !important;
}
p {
    font-size: 15px;
    color: #171717;
    line-height: 1.6rem;
    letter-spacing: .5px;
}
.call-to-action1 .bttn {
    text-align: left;
}
.bttn {
    width: 100%;
    display: block;
    text-align: center;
}
.call-to-action1 .cta-box .bttn .btn {
    padding: 14px 46px;
}
.bttn .btn:hover, .bttn .btn.active, .btn-primary:not([disabled]):not(.disabled).active, .btn-primary:not([disabled]):not(.disabled):active, .show > .btn-primary.dropdown-toggle {
    background: #fc328a;
    color: #fff !important;
    box-shadow: inherit;
    border: 1px solid transparent !important;
}
.parallax {
    background-repeat: no-repeat;
    /* background-attachment: fixed; */
    background-position: 50% 0;
    background-size: cover;
}
.pad90 {
    padding: 60px 0;
}
.overlay {
    position: relative;
}
.section-title.text-center {
    text-align: center!important;
}
.mb20 {
    margin-bottom: 20px;
}
.full-width {
    width: 100%;
}
img {
    vertical-align: middle;
    border-style: none;
}
.title-white .section-title h3 {
    color: #fff;
}
.section-title h3 {
    color: #171717;
    font-size: 40px;
    line-height: 40px;
}
.overlay::before {
    background: #171717;
    content: "";
    height: 100%;
    left: 0;
    opacity: 0.8;
    position: absolute;
    top: 0;
    width: 100%;
}
.pricing-area.text-center.pad90 .with-first {
    height: 720px;
    margin-bottom: 63px;
}
.pricing-area .price-box {
    position: relative;
    margin-top: 140px;
    border: 1px solid #e6e6e6;
    background-color: #f7f7f7;
    padding-bottom: 15px;
    border-radius: 10px;
    transition: all 0.5s ease 0s;
}
.price-box.with-first.surahi {
    margin-top: 36px !important;
}
.pricing-area .price-box .price-empty {
    padding: 20px 20px;
    position: relative;
    border-radius: 10px;
}
.price-empty p {
    font-size: 24px;
    font-weight: 500;
    color: #111;
    line-height: 32.6px;
    text-align: left;
    padding: 17px 8px 0px;
    height: 80px;
}
p {
    margin-top: 0;
    margin-bottom: 10px !important;
}
p {
    font-size: 15px;
    color: #171717;
    line-height: 1.6rem;
    letter-spacing: .5px;
}
.pricing-area .price-box .price-quantity {
    padding: 35px 0;
    position: relative;
}
.pricing-area .price-box .price-quantity .price-dtl ul {
    margin: 0 30px;
    height: 456px;
}
ul {
    list-style: outside none none;
    margin-bottom: 0;
    padding-left: 0;
}
.pricing-area .price-box .price-quantity .price-dtl ul li.first-child {
    border: inherit;
}
.pricing-area .price-box .price-quantity .price-dtl ul li {
    color: #171717;
    font-size: 16px;
    padding: 12px 0;
    border-top: 1px solid #cccccc;
}
.surahi li {
    text-align: left;
}
.first-child {
    padding-top: 0 !important;
    border-top: inherit !important;
}
.bttn {
    width: 100%;
    display: block;
    text-align: center;
}
.pricing-area .price-box .price-quantity .price-dtl .bttn .btn {
    color: #747474;
    border-radius: 5px;
    border: 1px solid #cccccc;
    padding: 7px 25px;
    margin-top: 15px;
    font-weight: normal;
}
.pricing-area .price-box.active, .pricing-area .price-box:hover {
    background-color: #fc328a !important;
    box-shadow: 0 10px 20px rgb(0 0 0 / 19%), 0 6px 6px rgb(0 0 0 / 23%);
    transform: translateY(-10px);
}
.bttn .btn {
    background: #e4e4e4;
    border: 1px solid transparent;
    border-radius: 0px;
    color: #171717;
    cursor: pointer;
    display: inline-block;
    font-size: 15px;
    font-weight: 700;
    outline: 0 none;
    position: relative;
    padding: 15px 30px;
    transition: all 0.5s ease 0s;
    border: 1px solid #d7d7d7;
}
.pricing-area .price-box.active .price-quantity .price-dtl .bttn .btn, .pricing-area .price-box:hover .price-quantity .price-dtl .bttn .btn {
    background-color: #171717;
    border: 1px solid transparent;
    color: #fff;
}
.bg5 {
    background: rgba(0, 0, 0, 0) url("https://kwm-user-data.s3.eu-west-2.amazonaws.com/kwm_web/bg5.jpg");
}
.overlay .section-title h3 {
    color: #fff;
}
.call-to-action {
    background-color: #ffffff;
}
.call-to-action h4 {
    text-transform: uppercase;
    color: #171717;
    font-size: 36px;
    font-family: "Roboto Condensed", sans-serif;
    font-weight: normal;
    text-align: left;
    margin-top: 5px;
}
h1, h2, h3, h4, h5, h6 {
    font-family: Helvetica, Sans-Serif;
    font-weight: 700;
    margin: 0;
}
.call-to-action .bttn {
    text-align: right;
}
.bttn {
    width: 100%;
    display: block;
    text-align: center;
}
.bttn .btn {
    background: #e4e4e4;
    border: 1px solid transparent;
    border-radius: 0px;
    color: #171717;
    cursor: pointer;
    display: inline-block;
    font-size: 15px;
    font-weight: 700;
    outline: 0 none;
    position: relative;
    padding: 15px 30px;
    transition: all 0.5s ease 0s;
    border: 1px solid #d7d7d7;
}
.pt90 {
    padding-top: 90px;
}
.footer-area .footer-content {
    margin-bottom: 40px;
}
img {
    vertical-align: middle;
    border-style: none;
}
.footer-area p {
    color: #ffffff;
    margin-bottom: 30px;
}
p {
    margin-top: 0;
    margin-bottom: 10px !important;
}
p {
    font-size: 15px;
    color: #171717;
    line-height: 1.6rem;
    letter-spacing: .5px;
}
.footer-area .add-info {
    margin-top: 25px;
}
.footer-area .add-info p a {
    margin-right: 10px;
    color: #ffffff;
}
a {
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
    text-decoration: none;
}
.mb-0 {
    margin-bottom: 0!important;
    font-size: 22px;
    font-weight: 700;
    letter-spacing: 1px;
    color: #fc328a;
    padding-bottom: 8px;
}
.footer-area .news-info .footer-title h3 {
    font-size: 20px;
    font-weight: 700;
    line-height: 20px;
    color: #ffffff;
    text-transform: uppercase;
}
ul {
    list-style: outside none none;
    margin-bottom: 0;
    padding-left: 0;
}
.footer-area .open-hrs ul li:first-child {
    padding-top: 0;
    border: inherit;
}
.footer-area .open-hrs ul li {
    border-top: 1px solid #a6a6a6;
    padding: 8px 0;
    text-transform: capitalize;
}
.footer-area .open-hrs ul li span {
    float: right;
}
.news-info.ftr-algn img {
    width: 30%;
}
img {
    vertical-align: middle;
    border-style: none;
}
.footer-area .news-info .footer-social ul li {
    display: inline-block;
    margin: 30px 18px 0 0;
}
.footer-area .news-info .footer-social ul li a i {
    background: #fff none repeat scroll 0 0;
    border-radius: 2px;
    color: #171717;
    font-size: 21px;
    height: 28px;
    line-height: 28px;
    text-align: center;
    width: 28px;
    transition: all 0.5s ease 0s;
}
.footer-area .instra {
    position: relative;
}
.pad60 {
    padding: 60px 0;
}
.footer-area .instra h4 {
    position: relative;
    text-align: center;
    text-transform: uppercase;
    color: #ffffff;
}