html {
	height: 100%;
	width: 100%;
	scroll-behavior: smooth;
}

body {
	min-height: 100vh;
	width: 100%;
	overflow-x: hidden;
	margin: 0;
	padding: 0;
	font-family: 'Poppins', sans-serif;
	line-height: 1.5;
	font-size: 16px;
	font-weight: 300;
}

/*
Main
*/
main {
	height: auto;
	width: 100%;
	overflow: hidden;
	padding: 5px 2rem 3rem 2rem;
	background: #f5f5f5;
}
.hero-img {
	width: 100%;
	margin: 10px auto;
	overflow: hidden;
}
.hero-img img {
	height: 100%;
	width: 100%;
	margin: 0 auto;
	object-fit: cover;
	background-position: center center;
	background-size: cover;
	background-repeat: no-repeat;
}

/* About */
.about {
	margin: 1rem auto;
	height: 400px;
	width: 100%;
	background: #fff;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	padding: 10px;
}
.home-about-header {
	margin: 10px 0;
	text-align: center;
}
.home-about-header > div > i {
	width: 70px;
	height: 70px;
	line-height: 70px;
	border-radius: 100%;
	background: rgba(0,0,0,0.20);
	font-size: 2rem;
	color: #fff;
}
.about-title {
	font-size: 1.7rem;
	margin: 10px auto;
	text-transform: uppercase;
	color: #333;
	font-weight: 500;
}
.about-desc {
	margin: 10px auto;
	line-height: 2;
	width: 70%;
	margin: 1rem auto;
	text-align: center;
}
.about-cta {
	background: #2e2b36;
	color: #fff!important;
	padding: 10px 25px;
	border-radius: 3px;
	margin: 1rem auto;
	text-decoration: none!important;
}

/* Services */
.services {
	margin: 1rem auto;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	padding: 10px 0;
}
.service-title {
	font-size: 1.7rem;
	margin: 10px auto;
	text-transform: capitalize;
	color: #333;
	font-weight: 500;
}
.service-gallery {
	height: 100%;
	width: 100%;
	margin: 10px auto;
	overflow: hidden;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
}
.service-row {
	height: 50vh;
	width: 100%;
	overflow: hidden;
	display: flex;
	align-items: center;
	justify-content: center;
	margin: 0 auto;
}
.service-row-left,
.service-row-right {
	height: 100%;
	width: 50%;
	overflow: hidden;
	display: flex;
	align-items: center;
	justify-content: center;
}
.service-inner-left,
.service-inner-right {
	height: 100%;
	width: 50%;
	overflow: hidden;
}
.service-inner-content {
	height: 100%;
	width: 100%;
	background: #2e2b36;
	overflow: hidden;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	margin: 0 auto;
	padding: 0;
}
.service-inner-content-wrapper {
	height: 100%;
	width: 80%;
	margin: 0 auto;
	padding: 2rem 0;
	display: flex;
	align-items: flex-start;
	justify-content: center;
	flex-direction: column;
}
.service-inner-content img {
	height: 100%;
	width: 100%;
	margin: 0 auto;
	object-fit: cover;
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	top: 0;
}
.service-inner-content-title {
	color: #fff;
	font-weight: 400;
	font-size: 25px;
	margin: 5px 0;
}
.service-inner-content-desc {
	color: #fff;
	font-weight: 400;
	font-size: 16px;
	margin: 10px 0;
	line-height: 30px;
}
.service-inner-content-desc span {
	margin-top: 10px;
	display: block;
}

/* Core Values */
.core-values {
	margin: 60px auto 30px;
	height: 300px;
	width: 100%;
	background: #f5f5f5;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	padding: 10px;
}
.core-values-inner {
	height: 270px;
	width: 90%;
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.core-values-card {
	height: 100%;
	width: 30%;
	margin-right: 10px;
	background: #fff;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	/*box-shadow: 0 10px 20px 0 rgba(0,0,0,0.10);*/
}
.core-values-icon {
	height: 100px;
	width: 100px;
	margin: 5px auto;
	display: flex;
	align-items: center;
	justify-content: center;
	overflow: hidden;
}
.core-values-title {
	color: #333;
	font-weight: 500;
	font-family: "Poppins", sans-serif;
	font-size: 50px;
	margin: 5px 0;
}
.core-values-desc {
	color: #666;
	font-weight: 400;
	font-size: 20px;
	margin: 5px 0;
}

/* Testimony */
/* Core Values */
.testimony {
	margin: 30px auto 60px;
	height: 370px;
	width: 100%;
	background: #f5f5f5;
	padding: 10px;
}
.testimony-inner {
	height: 100%;
	width: 90%;
	align-items: center;
	justify-content: space-between;
}
.testimony-card {
	height: 100%;
	width: 100%;
	margin-right: 10px;
	background: #eee;
	padding: 1.5rem;
	display: flex;
	align-items: flex-start;
	justify-content: flex-start;
	flex-direction: column;
}
.testimony-card-title {
	color: #333;
	font-weight: 500;
	font-family: "Poppins", sans-serif;
	font-size: 18px;
	margin: 5px 0;
}
.testimony-card-desc {
	width: 95%;
	color: #888;
	font-weight: 400;
	font-size: 16px;
	margin: 5px 0;
	line-height: 2;
}


/* Footer */
#footer {
	width: 100%;
	overflow: hidden;
	position: relative;
	bottom: 0;
	left: 0;
	padding: 3rem 3rem 2rem 3rem;
	background: #2e2b36;
}
.footer-inner {
	padding-bottom: 2rem;
	border-bottom: 1px solid #444;
}
.footer-contact {
	width: 300px;
	display: flex;
	align-items: flex-start;
	justify-content: center;
	flex-direction: column;
}
.col-header {
	color: #fff;
	font-weight: 400;
	font-size: 24px;
	margin-bottom: 1.5rem;
}
.contact-list {
	height: auto;
	width: 100%;
	margin: 0;
	padding: 0;
	list-style: none;
}
.contact-list-item {
	height: 40px;
	width: 100%;
	padding: 10px 0;
	margin: 0 0 2rem 0;
}
.contact-list-title {
	color: #fff;
	font-weight: 400;
	font-size: 18px;
}
.contact-list-txt {
	color: #fff!important;
	font-weight: 400;
	font-size: 14px;
	margin: 5px 0;
	text-decoration: none!important;
}
.linkHoverGrowLine {
    position: relative;
    transition: all 0.5s ease;
    cursor: pointer;
}
.linkHoverGrowLine::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    background: #fff;
    height: 1px;
    width: 0%;
    transition: all 0.5s ease;
}
.linkHoverGrowLine:hover::after {
    width: 100%;
  }
.footer-social-list {
	height: auto;
	width: 200px;
	display: flex;
	align-items: center;
	justify-content: flex-start;
	margin: 1rem 0;
}
.footer-social-item  {
	height: 30px;
	width: 30px;
	margin: 0 15px 0 0;
	background: rgba(255,255,255,0.2);
	border-radius: 100%;
	padding: 5px;
	display: flex;
	align-items: center;
	justify-content: center;
	cursor: pointer;
}

.footer-credits {
	height: 50px;
	width: 100%;
	color: #666;
	font-weight: 400;
	font-size: 14px;
	margin: 5px 0;
	display: flex;
	align-items: center;
	justify-content: flex-end;
}

/* Mobiel Nav */
.hamburger,
.menu-close {
	display: none;
}



@media (max-width: 768px) {
	main {
		padding: 1rem;
	}
	.header-logo {
		margin: 0;
	}
	.menu-close {
		cursor: pointer;
		font-size: 1.5rem!important;
		position: absolute;
		top: 10px;
		right: 10px;
		height: 35px;
		width: 35px;
		border-radius: 100%;
		display: flex!important;
		align-items: center;
		justify-content: center;
		background: rgba(0,0,0,0.20);
	}
	.menu-close,
	.hamburger {
		display: block;
		font-size: 2rem;
	}
	.about-desc {
		width: 100%;
	}
	.about,
	.services,
	.core-values,
	.testimony {
		height: auto;
		margin: 3rem auto;
	}
	.core-values-inner {
		height: auto;
		flex-direction: column;
	}
	.service-row {
		height: auto;
		margin: 2rem auto;
	}
	.service-inner-left,
	.service-inner-right,
	.service-row-left,
	.service-row-right {
		height: auto;
		width: 100%;
	}
	.service-row-left,
	.service-row-right,
	.service-row,
	.testimony-inner {
		flex-direction: column;
	}
	.core-values-card {
		height: 300px;
	}
	.core-values-card,
	.testimony-card {
		width: 100%;
		margin: 1rem auto;
	}
	.footer-credits {
		font-size: 10px!important;
		justify-content: center!important;
	}
	#footer {
		padding: 2rem;
	}
}