/* Header */
.fitness-makeover-header {
	width: 100%;
}
.fitness-makeover-title {
	font-size: 30px;
    line-height: 36px;
    color: rgb(221, 153, 51);
    text-transform: none;
	text-align: center;
	margin: 1.5rem auto;
	font-weight: 400;
	font-family: "Montserrat", Helvetica, Arial, Verdana, sans-serif;
}

/* Content Wrapper */
.content-wrapper {
	min-height: 100%;
	height: 100%;
	width: 100%;
	margin: 0 auto;
	display: flex;
	justify-content: center;
	flex-direction: column;
	align-items: center;
}

/* Intro */
.fitness-makeover-intro {
	width: 100%;
	margin: 1.5rem auto;
	display: flex;
	justify-content: center;
	flex-direction: column;
	align-items: center;
}
.fitness-makeover-intro-title {
	font-family: "Roboto", sans-serif;
	font-size: 40px;
	line-height: 2;
	text-align: center;
	font-weight: 600;
	color: #59545f;
}
.fitness-makeover-desc {
	font-family: "Roboto", sans-serif;
	font-size: 1rem;
	text-align: center;
	font-weight: 400;
	color: #000000;
}

/* Checklist */
.makeover-checklist {
	height: 200px;
	width: 80%;
	margin: 2rem auto;
	display: flex;
	justify-content: center;
	align-items: center;
}
.makeover-checklist-left,
.makeover-checklist-right {
	height: 100%;
	width: 50%;
}
.makeover-checklist-left {
	display: flex;
	justify-content: center;
	align-items: center;
	padding-left: 3rem;
}
.makeover-checklist-right {
	display: flex;
	justify-content: center;
	align-items: center;
	padding-right: 1rem;
}
.makeover-checklist-menu {
	margin: 0;
	padding: 0;
	list-style: none;
}
.challenge-checklist-item {
	display: flex;
	justify-content: flex-start;
	align-items: flex-start;
	font-size: 14px;
	color: #54595F;
	font-family: "Roboto", sans-serif;
	font-stretch: 100%;
	font-weight: 400;
	margin-bottom: 0.5rem;
}
.challenge-checklist-item i {
	margin-right: 0.8rem;
	margin-top: 0.2rem;
	color: #6EC1E4;
}

.block {
	height: auto;
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin: 3rem auto;
}
.block-title {
	width: 100%;
	margin: 0 auto 1.5rem;
	text-align: center;
	font-family: "Roboto", sans-serif;
	font-size: 40px;
	font-weight: 700;
	color: #59545f;
}
.block-row {
	height: auto;
	width: 90%;
	margin: 2rem auto;
	display: flex;
	justify-content: center;
	align-items: center;
}

.block-content {
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 2rem;
}

.makeover-block-list > ul > li > p {
	margin-bottom: 0.5rem;
	color: #59545f !important;
	font-family: "Roboto", sans-serif;
	font-weight: 400;
}

.block-content p {
	font-family: "Roboto", sans-serif;
	font-size: 30px;
	font-weight: 100;
    line-height: 1.1em;
}

.block-cta {
	height: auto;
	width: 90%;
	margin: 2rem auto;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.block-cta i {
	font-size: 3rem;
	margin: 1rem auto;
}

.block-cta p {
	font-size: 1rem;
	margin: 1rem auto;
	font-weight: 300;
	line-height: 2;
}

.block-cta a {
	height: 40px;
	width: 150px;
	cursor: pointer;
	font-family: "Poppins", sans-serif;
	font-size: 1.2rem;
	font-weight: 400;
	text-decoration: none!important;
	background: transparent;
	border: 2px solid #333;
	border-radius: 4px;
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 0 auto;
	color: #333;
}


@media (max-width: 768px) {
	.blocks {
		padding: 0;
	}
	.block-content {
		padding: 0;
		margin: 1rem auto;
	}
	.block-cta {
		height: auto;
	}
	.block-cta p {
		width: 50%;
		text-align: center;
		margin-bottom: 2rem;
	}
	.block-content,
	.makeover-block-list,
	.fitness-makeover-title,
	.fitness-makeover-desc {
		width: 100%;
	}
	.makeover-checklist,
	.block-row {
		height: auto;
		flex-direction: column;
		margin: 1rem auto;
	}
	.makeover-checklist-left,
	.makeover-checklist-right {
		width: 100%;
		margin: 2rem auto;
		padding: 0;
	}
}

.accordion {
	border: 0px !important;
}

.accordion__button {
	border-left: 0 !important;
	border-right: 0 !important;
	padding: 13px !important;
	font-size: 14px !important;
	font-weight: 600 !important;
	color: #3252aa !important;
}

.accordion__panel {
	font-size: 14px !important;
}