/* Header */
.fitness-stars-header {
	height: 70px;
	width: 100%;
}
.fitness-stars-title {
	font-family: "Poppins", sans-serif;
	font-size: 1.5rem;
	font-weight: 300;
	color: #dd9933;
	width: 50%;
	line-height: 2;
	margin: 0 auto;
	text-align: center;
	margin: 1.5rem auto;
}

/* Content Wrapper */
.content-wrapper {
	min-height: 100%;
	height: 100%;
	width: 100%;
	margin: 0 auto;
	display: flex;
	justify-content: center;
	flex-direction: column;
	align-items: center;
}

/* Intro */
.fitness-stars-intro {
	width: 100%;
	margin: 1.5rem auto;
	display: flex;
	justify-content: center;
	flex-direction: column;
	align-items: center;
}
.fitness-stars-intro-icon {
	height: 60px;
	width: 60px;
	line-height: 60px;
	border-radius: 100%;
	background: #dd9933;
	font-size: 2rem;
	color: #fff;
	text-align: center;
	z-index: 100;

}
.fitness-stars-intro-title {
	font-family: "Poppins", sans-serif;
	font-size: 2rem;
	line-height: 2;
	text-align: center;
	font-weight: 700;
	color: #333;
	margin-bottom: 2rem;

}
.fitness-stars-desc {
	margin: 0 auto;
	font-family: "Poppins", sans-serif;
	font-size: 1rem;
	line-height: 2;
	text-align: center;
	font-weight: 300;
	color: #555;
}


/* Video Gallery */
.fitness-stars-video-gallery {
	height: 300px;
	width: 100%;
	display: flex;
	justify-content: space-around;
	align-items: center;
	margin: 1rem auto;
	margin-bottom: 2rem;
}
.fitness-stars-video-gallery-card {
	height: 100%;
	width: 33.33%;
	overflow: hidden;
	margin: 0 10px;
	background: #ddd;
}
.fitness-stars-video-gallery-card video,
.fitness-stars-video-gallery-card iframe {
	height: 100%;
	width: 100%;
}
.fitness-stars-video-gallery-card img {
	height: 100%;
	width: 100%;
	margin: 0 auto;
	object-fit: cover;
	background-position: center center;
	background-size: cover;
	background-repeat: no-repeat;
}

/* Photo Gallery */
.fitness-stars-photo-gallery {
	height: 200px;
	width: 100%;
	display: flex;
	justify-content: space-around;
	align-items: center;
	margin: 1rem auto;
	margin-bottom: 2rem;
}
.fitness-stars-photo-gallery-card {
	height: 100%;
	width: 20%;
	overflow: hidden;
	margin: 0 10px;
	background: #fff;
}
.fitness-stars-photo-gallery-card img {
	height: 100%;
	width: 100%;
	margin: 0 auto;
	object-fit: cover;
	background-position: center center;
	background-size: cover;
	background-repeat: no-repeat;
}


@media (max-width: 768px) {
	.fitness-stars-intro,
	.fitness-stars-header {
		height: auto;
	}
	.fitness-stars-title {
		width: 100%;
		font-size: 1.5rem;
	}
	.fitness-stars-video-gallery,
	.fitness-stars-photo-gallery {
		height: auto;
		flex-direction: column;
	}
	.fitness-stars-video-gallery-card {
		height: 300px!important;
	}
	.fitness-stars-photo-gallery-card,
	.fitness-stars-video-gallery-card {
		height: auto;
		width: 100%;
		margin: 1rem auto;
	}

}